<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{#if notaEliminada}}

        <div>{{notaEliminada}}</div>

    {{/if}}

    <section class="notes">
        {{#each notes}}
            <div class="note">
                <h4>{{subject}}</h4>
                <div class="options">
                    <a href="/notes/edit/{{_id}}">Editar</a>
                </div>
                <div class="note-content">
                    <p>{{content}}</p>
                </div>
                <a href="/notes/delete/{{_id}}">Eliminar</a>

            </div>
        {{/each}}
    </section>
    
  
</body>
</html>